.btnAccountMenu{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background-color: black;
}

.accountMenu{
    display: flex;
    flex-wrap: wrap;
}

.imgAccount{
    width:164px;
    
}

.arrow{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    padding-left: 4.5em;
    padding-right: 4.5em;
    padding-block-end: 1em;
}