.btnAccountMenu{
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background-color: black;
}

.accountMenu{
    display: flex;
    flex-wrap: wrap;
}

.imgAccount{
    width:165px;
}
.btn{
    background-color: black;
    border: black;
}

i{
    color:#FFFFFF;
}