.header{
    display: flex;
    color: #FFFFFF;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

h1{
    margin-left:1em ;
  
}

.img-headline{
    margin-left: 10px;
}

