/* view Home */
.home-container{
    background-color: black;
    width:360px ;
    height: 640px;
}

/* component */
/* Acces */
.acces{
    background: black ;
    color: #FFFFFF;
    width: 360px;
    height: 640px;
    /* display:flex; */
    /* flex-direction: column; */
    /* justify-content: center; */

}
/* titular */
.headLine{
    padding:3em;
    text-align: center;
}
/* imagen de logo */
.logo{
    margin-left: 7em;
  
}

/* Navigation*/
.navbar{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* align-content: flex-end; */
    margin-top: 8em;
    margin-left: 1em;
    position: absolute;

}
.Navigation-link{
    background:black;
    color:#FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    padding: 3em;
    margin-right: 1px;
 

}


